@model DotNetScoringService.Models.Profile

@{
    ViewData["Title"] = "Profile";
}

<div class="row justify-content-center my-4">
    @{
        if (Model.ImageUrl != null)
        {
            <img src="@Model.ImageUrl" class="rounded img-thumbnail" alt="default" style="max-width: 30%;">
        }
        else
        {
            <img src="~/images/default.png" class="rounded img-thumbnail" alt="default" style="max-width: 30%;">
        }

    }
</div>
    
<div class="row d-flex p-2">
    <hr>
    <b><p>@Html.DisplayNameFor(model => model.Name): </b> @Html.DisplayFor(model => model.Name)</p>
    <b><p>@Html.DisplayNameFor(model => model.Email): </b> @Html.DisplayFor(model => model.Email)</p>
    <hr>
</div>

<div class="row">
    <div class="mx-auto col-10 col-md-8 col-lg-6">
        <form asp-controller="Profiles" asp-action="Edit" asp-route-id="@Model.ID">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="col text-center my-4">
                <input class="btn btn-primary" type="submit" value="Edit">
            </div>
        </form>
    </div>
</div>

@*<form asp-controller="Profiles" asp-action="Edit" asp-route-id="@Model.ID">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="ID" />
    <div class="form-group">
        <label asp-for="Name" class="control-label"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
    </div>
</form>*@